{% extends 'base.html.twig' %}

{% block title %}MotCle index{% endblock %}

{% block body %}
    <h1>MotCle index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mot_cle in mot_cles %}
            <tr>
                <td>{{ mot_cle.id }}</td>
                <td>{{ mot_cle.nom }}</td>
                <td>
                    <a href="{{ path('app_mot_cle_show', {'id': mot_cle.id}) }}">show</a>
                    <a href="{{ path('app_mot_cle_edit', {'id': mot_cle.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_mot_cle_new') }}">Create new</a>
{% endblock %}
