{{ form_start(form) }}

<div class="mindmate-form">

    <h1 class="mindmate-title">Votre Cours</h1>

    <p class="mindmate-description">
        Saisissez votre cours : <br>
        <strong>MindMate</strong> génère votre résumé et votre quiz en quelques instants.
    </p>

    <div class="mindmate-field">
        {{ form_widget(form.titre, {
            'attr': {
                'class': 'mindmate-input-title',
                'placeholder': 'Titre de votre cours'
            }
        }) }}
    </div>

    <div class="mindmate-field">
        {{ form_widget(form.contenu, {
            'attr': {
                'class': 'mindmate-textarea-content',
                'placeholder': 'Entrez votre cours ici'
            }
        }) }}
    </div>

    <button type="submit" class="mindmate-submit-button">
        {{ button_label|default('Créer un cours') }}
    </button>

</div>

{{ form_end(form) }}
