{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    {# Display Flash Messages as Alerts #}
    {% for label, messages in app.session.flashBag.all() %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

        <!-- Alerts Displayed Before Form -->
{# {% if app.user %}
    {% if is_granted('ROLE_PAID') %}
        <div class="alert alert-info">You are logged in as a paid user.</div>
    {% elseif is_granted('ROLE_USER') %}
        <div class="alert alert-warning">You are logged in as an unpaid user.</div>
    {% endif %}

    <div class="mb-3">
        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
    </div>
{% else %}
    <div class="alert alert-secondary">You are not logged in.</div>
{% endif %} #}


    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>NbToken</th>
                <td>{{ user.nbToken }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>HasTestPremium</th>
                <td>{{ user.hasTestPremium ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>DateFinPremium</th>
                <td>{{ user.dateFinPremium ? user.dateFinPremium|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_index') }}">back to list</a>

    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
