{% extends 'base.html.twig' %}

{% block title %}Quizz index{% endblock %}

{% block body %}
    <h1>Quizz index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Question1</th>
                <th>Reponse11</th>
                <th>Reponse12</th>
                <th>Reponse13</th>
                <th>Bonnereponse1</th>
                <th>Userreponse1</th>
                <th>Question2</th>
                <th>Reponse21</th>
                <th>Reponse22</th>
                <th>Reponse23</th>
                <th>BonneReponse2</th>
                <th>ReponseUser2</th>
                <th>Question3</th>
                <th>Reponse31</th>
                <th>Reponse32</th>
                <th>Reponse33</th>
                <th>BonneReponse3</th>
                <th>ReponseUser3</th>
                <th>Question4</th>
                <th>Question41</th>
                <th>Question42</th>
                <th>Question43</th>
                <th>BonneReponse4</th>
                <th>ReponseUser4</th>
                <th>Question5</th>
                <th>Question51</th>
                <th>Question52</th>
                <th>Question53</th>
                <th>BonneReponse5</th>
                <th>ReponseUser5</th>
                <th>Score</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for quizz in quizzs %}
            <tr>
                <td>{{ quizz.id }}</td>
                <td>{{ quizz.titre }}</td>
                <td>{{ quizz.question1 }}</td>
                <td>{{ quizz.reponse11 }}</td>
                <td>{{ quizz.reponse12 }}</td>
                <td>{{ quizz.reponse13 }}</td>
                <td>{{ quizz.bonnereponse1 }}</td>
                <td>{{ quizz.userreponse1 }}</td>
                <td>{{ quizz.question2 }}</td>
                <td>{{ quizz.reponse21 }}</td>
                <td>{{ quizz.reponse22 }}</td>
                <td>{{ quizz.reponse23 }}</td>
                <td>{{ quizz.bonneReponse2 }}</td>
                <td>{{ quizz.reponseUser2 }}</td>
                <td>{{ quizz.question3 }}</td>
                <td>{{ quizz.reponse31 }}</td>
                <td>{{ quizz.reponse32 }}</td>
                <td>{{ quizz.reponse33 }}</td>
                <td>{{ quizz.bonneReponse3 }}</td>
                <td>{{ quizz.reponseUser3 }}</td>
                <td>{{ quizz.question4 }}</td>
                <td>{{ quizz.question41 }}</td>
                <td>{{ quizz.question42 }}</td>
                <td>{{ quizz.question43 }}</td>
                <td>{{ quizz.bonneReponse4 }}</td>
                <td>{{ quizz.reponseUser4 }}</td>
                <td>{{ quizz.question5 }}</td>
                <td>{{ quizz.question51 }}</td>
                <td>{{ quizz.question52 }}</td>
                <td>{{ quizz.question53 }}</td>
                <td>{{ quizz.bonneReponse5 }}</td>
                <td>{{ quizz.reponseUser5 }}</td>
                <td>{{ quizz.score }}</td>
                <td>
                    <a href="{{ path('app_quizz_show', {'id': quizz.id}) }}">show</a>
                    <a href="{{ path('app_quizz_edit', {'id': quizz.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="34">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_quizz_new') }}">Create new</a>
{% endblock %}
