{% extends 'base.html.twig' %}


{% block title %}Quizz -
	{{ quizz.titre }}
{% endblock %}

{% block body %}

	<h1>{{ quizz.titre }}</h1>

	{{ include('quizz/_form2.html.twig') }}

	{# <form action="{{ path('app_quizz_submit_response', { id: quizz.id }) }}" method="post" onsubmit="return calculerScore();">
		<div>
			<p>
				<strong>1.
					{{ quizz.question1 }}</strong>
			</p>
			<input type="radio" name="q1" value="{{ quizz.reponse11 }}">
			{{ quizz.reponse11 }}<br>
			<input type="radio" name="q1" value="{{ quizz.reponse12 }}">
			{{ quizz.reponse12 }}<br>
			<input type="radio" name="q1" value="{{ quizz.reponse13 }}">
			{{ quizz.reponse13 }}
		</div>

		<div>
			<p>
				<strong>2.
					{{ quizz.question2 }}</strong>
			</p>
			<input type="radio" name="q2" value="{{ quizz.reponse21 }}">
			{{ quizz.reponse21 }}<br>
			<input type="radio" name="q2" value="{{ quizz.reponse22 }}">
			{{ quizz.reponse22 }}<br>
			<input type="radio" name="q2" value="{{ quizz.reponse23 }}">
			{{ quizz.reponse23 }}
		</div>

		<div>
			<p>
				<strong>3.
					{{ quizz.question3 }}</strong>
			</p>
			<input type="radio" name="q3" value="{{ quizz.reponse31 }}">
			{{ quizz.reponse31 }}<br>
			<input type="radio" name="q3" value="{{ quizz.reponse32 }}">
			{{ quizz.reponse32 }}<br>
			<input type="radio" name="q3" value="{{ quizz.reponse33 }}">
			{{ quizz.reponse33 }}
		</div>

		<div>
			<p>
				<strong>4.
					{{ quizz.question4 }}</strong>
			</p>
			<input type="radio" name="q4" value="{{ quizz.reponse41 }}">
			{{ quizz.reponse41 }}<br>
			<input type="radio" name="q4" value="{{ quizz.reponse42 }}">
			{{ quizz.reponse42 }}<br>
			<input type="radio" name="q4" value="{{ quizz.reponse43 }}">
			{{ quizz.reponse43 }}
		</div>

		<div>
			<p>
				<strong>5.
					{{ quizz.question5 }}</strong>
			</p>
			<input type="radio" name="q5" value="{{ quizz.reponse51 }}">
			{{ quizz.reponse51 }}<br>
			<input type="radio" name="q5" value="{{ quizz.reponse52 }}">
			{{ quizz.reponse52 }}<br>
			<input type="radio" name="q5" value="{{ quizz.reponse53 }}">
			{{ quizz.reponse53 }}
		</div>

		<input type="hidden" name="score" id="score" value="0">
		<br>
		<button type="submit">Voir mon score</button>
	</form> #}
	

	
{% endblock %}
