{% extends 'base.html.twig' %}

{% block title %}Quizz{% endblock %}

{% block body %}
    <h1>Quizz</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ quizz.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ quizz.titre }}</td>
            </tr>
            <tr>
                <th>Question1</th>
                <td>{{ quizz.question1 }}</td>
            </tr>
            <tr>
                <th>Reponse11</th>
                <td>{{ quizz.reponse11 }}</td>
            </tr>
            <tr>
                <th>Reponse12</th>
                <td>{{ quizz.reponse12 }}</td>
            </tr>
            <tr>
                <th>Reponse13</th>
                <td>{{ quizz.reponse13 }}</td>
            </tr>
            <tr>
                <th>Bonnereponse1</th>
                <td>{{ quizz.bonnereponse1 }}</td>
            </tr>
            <tr>
                <th>Userreponse1</th>
                <td>{{ quizz.userreponse1 }}</td>
            </tr>
            <tr>
                <th>Question2</th>
                <td>{{ quizz.question2 }}</td>
            </tr>
            <tr>
                <th>Reponse21</th>
                <td>{{ quizz.reponse21 }}</td>
            </tr>
            <tr>
                <th>Reponse22</th>
                <td>{{ quizz.reponse22 }}</td>
            </tr>
            <tr>
                <th>Reponse23</th>
                <td>{{ quizz.reponse23 }}</td>
            </tr>
            <tr>
                <th>BonneReponse2</th>
                <td>{{ quizz.bonneReponse2 }}</td>
            </tr>
            <tr>
                <th>ReponseUser2</th>
                <td>{{ quizz.reponseUser2 }}</td>
            </tr>
            <tr>
                <th>Question3</th>
                <td>{{ quizz.question3 }}</td>
            </tr>
            <tr>
                <th>Reponse31</th>
                <td>{{ quizz.reponse31 }}</td>
            </tr>
            <tr>
                <th>Reponse32</th>
                <td>{{ quizz.reponse32 }}</td>
            </tr>
            <tr>
                <th>Reponse33</th>
                <td>{{ quizz.reponse33 }}</td>
            </tr>
            <tr>
                <th>BonneReponse3</th>
                <td>{{ quizz.bonneReponse3 }}</td>
            </tr>
            <tr>
                <th>ReponseUser3</th>
                <td>{{ quizz.reponseUser3 }}</td>
            </tr>
            <tr>
                <th>Question4</th>
                <td>{{ quizz.question4 }}</td>
            </tr>
            <tr>
                <th>Reponse41</th>
                <td>{{ quizz.reponse41 }}</td>
            </tr>
            <tr>
                <th>Reponse42</th>
                <td>{{ quizz.reponse42 }}</td>
            </tr>
            <tr>
                <th>Reponse43</th>
                <td>{{ quizz.reponse43 }}</td>
            </tr>
            <tr>
                <th>BonneReponse4</th>
                <td>{{ quizz.bonneReponse4 }}</td>
            </tr>
            <tr>
                <th>ReponseUser4</th>
                <td>{{ quizz.reponseUser4 }}</td>
            </tr>
            <tr>
                <th>Question5</th>
                <td>{{ quizz.question5 }}</td>
            </tr>
            <tr>
                <th>Reponse51</th>
                <td>{{ quizz.reponse51 }}</td>
            </tr>
            <tr>
                <th>Reponse52</th>
                <td>{{ quizz.reponse52 }}</td>
            </tr>
            <tr>
                <th>Reponse53</th>
                <td>{{ quizz.reponse53 }}</td>
            </tr>
            <tr>
                <th>BonneReponse5</th>
                <td>{{ quizz.bonneReponse5 }}</td>
            </tr>
            <tr>
                <th>ReponseUser5</th>
                <td>{{ quizz.reponseUser5 }}</td>
            </tr>
            <tr>
                <th>Score</th>
                <td>{{ quizz.score }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_quizz_index') }}">back to list</a>

    <a href="{{ path('app_quizz_edit', {'id': quizz.id}) }}">edit</a>

    {{ include('quizz/_delete_form.html.twig') }}
{% endblock %}
