{% extends 'base.html.twig' %}

{% block title %}Quizz{% endblock %}

{% block body %}
    <h1>Quizz</h1>
    <p><strong>Score :</strong> {{ quizz.score }} / 5</p>
    <form action="{{ path('app_quizz_submit_response', {id: quizz.id}) }}" method="POST">
        <p>{{ quizz.question1 }}</p>
        <input type="text" name="userreponse1">
    
        <p>{{ quizz.question2 }}</p>
        <input type="text" name="reponseUser2">
    
        <p>{{ quizz.question3 }}</p>
        <input type="text" name="reponseUser3">
    
        <p>{{ quizz.question4 }}</p>
        <input type="text" name="reponseUser4">
    
        <p>{{ quizz.question5 }}</p>
        <input type="text" name="reponseUser5">
    
        <button type="submit">Valider mes réponses</button>
    </form>
    

    <a href="{{ path('app_quizz_index') }}">back to list</a>

    <a href="{{ path('app_quizz_edit', {'id': quizz.id}) }}">edit</a>

    {{ include('quizz/_delete_form.html.twig') }}
{% endblock %}
